<mat-toolbar>
  <span routerLink="/form">Form</span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/form"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <span routerLink="/contacts">Contacts</span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
<router-outlet></router-outlet>